
	header {
		text-align: center;
		font-family: Helvetica;
		font-size: 36;
	}

	body {
		margin: 0;
		background-color:  #eee;
		color: black;
	}

	img {
		max-width: 100%
	}

	#resume_title {
		text-align: center;
		font-family: Helvetica;
		font-size: 36;
	}

	#NavBar ul {
		position: fixed;
		margin: 0;
    		padding: 0;
    		top: 0;
    		width: 100%;
		position: fixed;
		list-style-type: none;
    		overflow: hidden;
    		background-color: #333;
	}

	#NavBar li {
    		float: left;
    		border-right: 1px solid #bbb;
	}

	#NavBar li a {
    		display: block;
   	 	color: white;
    		text-align: center;
    		padding: 14px 16px;
    		text-decoration: none;
	}

	#NavBar li a:hover {
   	 	background-color: #111;
	}

	#NavBar li:last-child {
    		border-right: none;
	}

	.active {
    		background-color: #dd0000;
	}
